*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family:'Open Sans', sans-serif;
}

header{
height: 100px;
background: gray;
display:flex;
justify-content: space-around;
align-items:center;

}

ul{
    display: flex;
    list-style-type: none;
}

ul li a{
    padding: 0 20px;
    text-decoration: none;
    color:brown;
}

.footer {
    background-color: #515569;
    padding: 5px;
    text-align: center;
    color: white;
  }